:root{
  --c : #38023B;
  --c2 : #A288E3;
  --c3 : #BBD5ED;
}

nav{
  background-color: var(--c);
}

.start{
  padding-top: 6em !important;
}
#land{
  height: fit-content;
  background-color: #38023B;
}

#land .avatar{
  width: 20vw;
}

#land .name {
  font-size: 50px;
  font-weight: 500;
  color: #A288E3;
}

#land .job{
  font-size: 40px;
  font-weight: 400;
  color: #A288E3;
}

#land .bio{
  color: #BBD5ED;
  line-height: 2;
}

.heading{
  color: #38023B;
  font-weight: 700;
}

.project{
  width: 100%;
  height: fit-content;
  border: 1px solid var(--c);
  position: relative;
}
.project .project-info{
  position: absolute;
  height: 40%;
  width: 100%;
  z-index: 1;
  background-color: #BBD5ED;
  bottom: 0;
  transition: 0.4s;
  opacity: 0;
}

.project:hover > .project-info{
  opacity: 1;
}

.liked{
  color: red;
}
.project-info i{
  font-size: 6vh;
  transition: 0.4s;
}
.project-info i:active{
  transform: scale(1.1);
  font-size: 10vh;
}
.project-img{
  width: 100%;
}

#contact .form-control{
  border-bottom: 2px solid var(--c);
}

#contact .submit-btn{
  background-color: #38023B;
  color: #BBD5ED;
}

#contact form{
  width: 60%;
}

.contact-body{
  display: flex;
  justify-content: center;
  align-items:center;
}

.so-holder{
  display: flex;
}

.so-holder .link-s {
  text-decoration: none;
  color: #A288E3;
  font-size: 5vh;
  transition: 0.4s;
  padding: 0 1em !important;
}
.so-holder .link-s:hover{
  color: #BBD5ED;
}